<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Video Streaming with Measurements</h1>
    <div>
        <video id="video" autoplay="true" src="{{ url_for('video_feed') }}"></video>
        <canvas id="canvas"></canvas>
        <p id="dimensions"></p>
    </div>
</body>
</html>
